.order-container {
    background-color: #CE2829;
    color:#FAF7F2;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}